a, a:link, a:hover, a:visited, a:active, a:focus, button{
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  cursor: pointer;
  border-bottom: 1px solid $text-color;
  transition: .2s;

  @media (max-width: $mobile) {     
    font-size: 15px;
    line-height: 25px;
  }

}
 
a:hover, button:hover{
  border-bottom-color: transparent;
  color: $blue;
}

a.active {
  
}
