.new-vote {
  display: none;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #000;
  input {
    //display: block;
    margin-bottom: 20px;
  }

  &__questions {
    &-item {
      padding: 10px;
      border: 1px solid #000;
      margin-bottom: 20px;
      background: #9ad0ff;
    }
  }

  &__options {
    padding: 10px;
    border: 1px solid #000;
    margin: 10px 0;
  }
}

.vote {
  margin: 60px 0;

  &__item {
    margin-bottom: 30px;
    &-title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__accordion {
    margin: 40px 0;

    &-title {
      position: relative;
      margin-bottom: 20px;
      &::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        right: -30px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        transform: rotate(-45deg);
      }
    }
    ul {
      display: none;
    }
  }
}

.voting {
  margin: 50px 0;
  &__item {
    margin-bottom: 30px;
    &-title {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 15px;
    }
    &-description {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}