.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(16, 16, 16, 0.79);
}

.modal.fade .modal-dialog {
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  padding: 50px;
  margin: 0 auto;
  margin-top: 5vh;
  background: #fff;
  max-width: 620px;
  max-height: 90vh;
  overflow: hidden;

  @media (max-width: $mobile) {
    width: 95%;
    padding: 50px 20px;
    margin-top: 50px;
  }

  a, a:link, a:hover, a:visited, a:active, a:focus, button {
    &.close-modal {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 19px;
      height: 19px;
      background: url($base_img + 'close-icon.svg') top center no-repeat;
      background-size: contain;
    }
  }
}

.modal-content {
  position: relative;
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-content {
  position: relative;
}

.modal-body {
  position: relative;

  .form_line {
  	input, textarea {
  		max-width: none;
  	}
  }
}

.modal-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.modal-text {
    font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 10px;
}

.modal-btn-wrap {
  margin-top: 30px;
  text-align: center;
}

#success-modal {
  .modal-dialog {
    text-align: center;
    background: #11d071;
    color: #fff;
  }
}

#modal-review {
  .modal-content {
    height: 100%;
  }
}
.modal {
  &__slider {
    height: 100%;
    &-item {
      position: relative;

      img {
        border: 1px solid #E9E9E9;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
    .slick-list, .slick-track {
      height: 100%;
    }
    .slick-arrow {
      position: absolute;
      content: '';
      text-indent: -9999px;
      width: 41px;
      height: 17px;
      border: none;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background: url($base_img + 'modal-arrow.svg') center center no-repeat;
      background-size: contain;
      z-index: 101;
    }
    .slick-prev {
      left: -10px;
    }
    .slick-next {
      transform: rotate(-180deg);
      right: -10px;
    }
    .slick-dots {
      position: absolute;
      text-align: center;
      bottom: -25px;
    }
  }
}
