* {
  max-height: 999999px;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  height: 100%;
  background: $body-fon;

  @media (max-width: $mobile) {
    font-size: 15px;
    line-height: 25px;
  }
}

.body-wrap {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  display: block;
  width: 100%;
  outline: none;
}

button {
  outline: none;
  border: 0;
  padding: 0;
}

input:not([type="checkbox"]):not([type="radio"]), textarea {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  //padding-left: 0;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  //height: 60px;
  //line-height: 38px;
  color: $text-color;
  // border-radius: 4px;
  -webkit-appearance: none;
  resize: none;
  
  &::placeholder {
    color: #666;
  }


  &.error {
    border-color: #d93d04;
  }
}

textarea {
  min-height: 30px;

  @media (max-width: $mobile) {
    min-height: 30px;
  }
}

div {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  li {
    list-style: none;
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;

  @media (max-width: $mobile) {
    font-size: 15px;
    line-height: 25px;
  }
}


ul.smpl {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 4px 10px;
    list-style: none;
    font-size: 18px;
    line-height: 26px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 16px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: $text-color;
    }
  }
}

.nav-tabs {
  margin: 0 -20px;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    a, a:link, a:hover, a:visited, a:active, a:focus, button {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      color: #9b9b9b;
      padding: 0 20px;

      span {
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
      }
    }

    &.active {
      a, a:link, a:hover, a:visited, a:active, a:focus, button {
        color: #000000;

        span {
          border-bottom-color: $yellow;
        }
      }
    }
  }
}

.tab-content {
  position: relative;
}

.tab-pane {
  opacity: 0;
  z-index: -999;
  position: absolute;
  width: 100%;

  &.active {
    opacity: 1;
    z-index: 1;
    position: static;
  }
}

.pt-0 {
  padding-top: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.sm-hidden {
  @media (max-width: $tablet) {
    display: none !important;
  }
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 20px;
  height: 20px;
}

.checkbox + label {
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  a, a:link, a:hover, a:visited, a:active, a:focus, button {
    font-size: 14px;
    line-height: 18px;
    display: inline;
    text-decoration: none;
  }
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
  height: auto;
  line-height: auto;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;

  @media (max-width: $mobile) {
    padding-top: 2px;
  }
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background: #fff;
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  height: 5px;
  width: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  //@include rotate(135);
  opacity: 0;
  //@include transition (all 0.2s ease-out 0s);
}

.checkbox:checked + label:after {
  opacity: 1;
}

.checkbox:checked + label:before {
  background: #11d071;
  border-color: #11d071;
}

.check-item {
  margin-top: 15px;
}

.checkbox#remember-me + label {
  font-weight: 400;
}
