h1, .title-biggest {
  font-size: 64px;
  line-height: 1.09;
  font-family: 'Raleway', sans-serif;
	font-weight: 900;

  @media (max-width: $desktop) {
    font-size: 48px;
    line-height: 55px;
  }

  @media (max-width: $mobile) {     
    font-size: 30px;
    line-height: 40px;
  }
}

h2, .title-big {
  font-size: 36px;
  line-height: 1.11;
  font-family: 'Raleway', sans-serif;
	font-weight: 900;

  @media (max-width: $desktop) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (max-width: $mobile) {     
    font-size: 22px;
    line-height: 30px;
  }
}

h1, h2, h3, h4 {
	margin: 0;
	text-align: left;
	color: #000;
}

.text-white {
  color: #fff!important;
}