$grid-spacing: 10px;

$desktop: 1200px;
$tablet: 991px;
$mobile: 767px;

$standart_margin: 40px;

.container {
  margin: 0 auto;
  padding: 90px;
  width: 100%;

  @media (max-width: $mobile) {
    padding: 40px 0;
  }
}

%clearfix:after {
  display: block;
  clear: both;
  content: '';
  height: 0;
}

.row {
  padding: 70px $grid-spacing;
  margin: 0 auto;
  width: 1200px;

  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }

  & + & {
    padding-top: 0;
  }
}

@media (max-width: $desktop) {
  .row {
    width: 960px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: $tablet) {
  .row {
    width: 750px;
    padding: 60px $grid-spacing;
  }
}

@media (max-width: $mobile) {
  .row {
    width: 100%;
    min-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.col-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-spacing;
  margin-right: -$grid-spacing;
  @extend %clearfix;
}

.col-padd {
  padding: 0 $grid-spacing;
}

.col-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row-min-pad {
  padding-top: 30px;
  padding-bottom: 30px;
  & + & {
    padding-top: 0;
  }
}

.row-fluid {
  padding-left: 10%;
  padding-right: 10%;

  @media (max-width: $desktop) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: $mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row-blog {
  padding-left: calc(100% / 4);
  padding-right: calc(100% / 4);

  @media (max-width: 1680px) {
    padding-left: calc(100% / 8);
    padding-right: calc(100% / 8);
  }

  @media (max-width: $desktop) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: $mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-blog {
  padding: 90px 0;
  @media (max-width: $mobile) {
    padding: 40px 0;
  }
}

.title-margin {
  margin-bottom: 90px;

  @media (max-width: $mobile) {
    margin-bottom: 40px;
  }
}

$col: 1;

@for $col from 1 through 8 {
  .col-#{$col} {
    @extend .col-padd;
    float: left;
    width: $col / 8 * 100%;
  }
}

$base_img: '../images/';
$logo: 'logo.png';

$body-fon: #fff;
$text-color: #000;
$blue: #0009ff;
$grey-border: #e9e9e9;

$yellow: #ffd600;
$yellow-hover: #ffc236;
$green: #11d071;
$yellow-light: #ffce00;
$grey-text: #ababab;
$orange: #d93d04;
$text-light: #cac2c2;
$pink: #e6a29a;
$beige: #ebb370;
$beige-fon: #f1efe9;
$text-hover: $pink;



