<% include layout/head.ejs %>


<div class="container">
    <div class="row-fluid">
        <h1>Панель администратора</h1>

        <br>
        <hr>
        <br>


        <br>
        <h2>Голосования</h2>
        <br>

        <div class="vote">
            <% if (exportData.votes.length == 0) { %>
                <p>Нет голосований. Добавьте новое голосование.</p>
            <% } %>
            <% exportData.votes.forEach(function (vote) {
                var stringDate = new Date();
                var options = {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                };
                stringDate.setTime(vote.date);
            %>
            <div class="vote__item">
                <div class="vote__item-wrap">
                    <div class="vote__item-title"><%= vote.name %></div>
                    <div class="vote__item-date"><%= stringDate.toLocaleString("ru", options) %></div>
                    <div class="vote__item-delete">
                        <a href="/admin/delete-vote?voteId=<%= vote.id %>">Удалить голосование</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

        <div>
            <a href="#" id="addNewVote">Добавить новое голосование</a>
        </div>

        <div class="new-vote" id="new-vote">
            <form action="">
                <input type="text" name="voteName" placeholder="Название">
                <input type="text" name="date" placeholder="Дата и время голосования">
                <input type="text" name="registerTime" placeholder="Длительность регистрации (минуты)">
                <input type="hidden" name="dateUnix">
                <input type="text" name="duration" placeholder="Длительность голосования (минуты)">
                <br>
                <div class="new-vote__participants">
                    <div class="new-vote__title">Участники</div>
                    <% exportData.users.forEach(function (user) { %>
                        <label>
                            <input type="checkbox" checked name="<%= user.id %>">
                            <%= user.name %>
                        </label>
                    <% }) %>
                </div>
                <br>
                <div class="new-vote__questions">
                    <div class="new-vote__questions-wrap">
                        <div class="new-vote__questions-item">
                            <div class="new-vote__questions-title">Вопрос #<span>1</span></div>
                            <input type="text" placeholder="Заголовок вопроса" name="questionTitle">
                            <textarea name="questionDesc" placeholder="Описание вопроса" rows="4"></textarea>
                            <select name="questionType" class="new-vote__questions-type">
                                <option value="checkbox">Чекбокс</option>
                                <option value="radio">Радио</option>
                                <option value="input">Строка</option>
                                <option value="textarea">Текстовое поле</option>
                            </select>
                            <div class="new-vote__options">
                                <div class="new-vote__questions-subtitle">Варианты</div>
                                <div class="new-vote__options-container">
                                    <input type="text">
                                    <input type="text">
                                </div>
                                <button class="js-add-option">Добавить вариант</button>
                                <button class="js-remove-option" style="display: none;">Удалить вариант</button>
                            </div>
                            <!--<button class="new-vote__del">Удалить вопрос</button>-->
                        </div>
                    </div>
                    <div class="new-vote__questions-btn">
                        <button class="new-vote__add">Добавить вопрос</button>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <button id="send-vote">Добавить голосование</button>
            </form>
        </div>

    </div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/scripts/main.js"></script>

<script src="/scripts/adminPanel.js"></script>
<script src="/scripts/datepicker.js"></script>

</div>
</body>
</html>