<% include layout/head.ejs %>
<div class="container">
    <div class="row-fluid">
        <h2><%= title %></h2>
        <br>
        <br>
        <% bulletenResponse.forEach(function (question) { %>
            <p class="bold"><%= question.title %></p>
            <% question.inputValue.forEach(function (value) { %>
              <p><%= value %></p>
            <% }) %>
            <hr>
        <% }) %>


    </div>
</div>
