<% include layout/head.ejs %>
<div class="container">
    <div class="row-fluid">
        <% if(!userInfo.id && !userInfo.name) { %>
            <h2>Регистрация</h2>
            <form action="">
                <input type="text" placeholder="login" name="login">
                <br>
                <input type="text" placeholder="Имя" name="name">
                <br>
                <input type="password" placeholder="pass" name="password">
                <br>
                <input type="password" placeholder="pass" name="repeat-password">
                <br>
                <button type="submit" class="register-user">Отправить</button>
            </form>
            <br>
            <h2>Авторизация</h2>
            <form>
                <input type="text" placeholder="логин" name="login">
                <br>
                <input type="password" placeholder="пароль" name="password">
                <br>
                <button type="submit" class="login-button">Отправить</button>
            </form>
        <% } else { %>
            <h2>Система тайного голосования</h2>
            <br>
            <p>
                Привет, <%= userInfo.name %>! <br>
                <a href="/api/auth/logout">Выход</a>
            </p>
            <p>Роль – <%= userInfo.role %></p>

            <% if(userInfo.role == 'admin') { %>
                <p><a href="/admin">Панель администратора</a></p>
            <% } else { %>
                <p><a href="/lk">Личный кабинет</a></p>
            <% } %>
        <% } %>
    </div>
</div>
<% include layout/footer.ejs %>