<% include layout/head.ejs %>
<div class="container">
    <div class="row-fluid">
        <h1>Личный кабинет</h1>
        <p>Пользователь <%= user.userName %></p>
        <p><a href="/api/auth/logout">Выйти</a></p>

        <h2>Голосования</h2>

        <div class="vote">
            <% if (exportData.votes.length === 0) { %>
                <p>Не найдено доступных голосований</p>
            <% } %>
            <% exportData.votes.forEach(function (vote) { %>
                <% if (vote.participants.indexOf(user.userId) !== -1) {

                    var stringDate = new Date();
                    var options = {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                    };
                    stringDate.setTime(vote.date);

                    var currentTime = new Date().getTime();
                    var voteStatus = {};
                    if (currentTime < vote.date) {
                        var minute = parseInt((vote.date - currentTime) / 60000);
                        var second = parseInt((vote.date - currentTime) / 1000) - (minute * 60);
                        voteStatus.state = 'wait';
                        voteStatus.message = 'Регистрация через: ' + minute + 'м ' + second + 'c';
                    } else if (currentTime > vote.date && currentTime < (parseInt(vote.date) + vote.registerTime * 60000)) {
                        var minute = parseInt(((parseInt(vote.date) + vote.registerTime * 60000) - currentTime) / 60000);
                        var second = parseInt(((parseInt(vote.date) + vote.registerTime * 60000) - currentTime) / 1000) - (minute * 60);
                        voteStatus.state = 'registration';
                        voteStatus.message = 'Идет регистрация. До начала голосования: ' + minute + 'м ' + second + 'c';
                    } else if (currentTime > vote.date && currentTime < (parseInt(vote.date) + parseInt(vote.registerTime * 60000) + parseInt(vote.duration * 60000))) {
                        var minute = parseInt(((parseInt(vote.date) + parseInt(vote.registerTime * 60000) + vote.duration * 60000) - currentTime) / 60000);
                        var second = parseInt(((parseInt(vote.date) + parseInt(vote.registerTime * 60000) + vote.duration * 60000) - currentTime) / 1000) - (minute * 60);
                        voteStatus.state = 'vote';
                        voteStatus.message = 'Идет голосование. До конца голосования: ' + minute + 'м ' + second + 'c';
                    } else {
                        voteStatus.state = 'end';
                        voteStatus.message = 'Голосование закончено.'
                    }
                %>
                <hr>
                <div class="vote__item">
                    <div class="vote__item-wrap">
                        <div class="vote__item-title"><%= vote.name %></div>
                        <div class="vote__item-date"><%= stringDate.toLocaleString("ru", options) %></div>
                        <div><%= voteStatus.message %></div>
                        <% if (voteStatus.state == 'registration') { %>
                            <% if (vote.activeParticipants.indexOf(user.userId) !== -1) { %>
                                <p>Успешно зарегистрированы. Ожидайте начала голосования.</p>
                            <% } else { %>
                                <p><a href="#" class="vote__item-register" data-voteid="<%= vote.id %>">Зарегестрироваться</a>
                                </p>
                            <% } %>
                        <% } else if (voteStatus.state == 'vote' && vote.activeParticipants.indexOf(user.userId) !== -1 && vote.votedParticipants.indexOf(user.userId) === -1) { %>
                            <p><a href="/lk/vote?voteid=<%= vote.id %>">Начать голосование!</a></p>
                        <% } else if (voteStatus.state == 'end') { %>
                            <p><a href="/lk/result-vote?voteid=<%= vote.id %>">Результаты голосования</a></p>
                        <% } %>

                        <div class="vote__accordion">
                            <a class="vote__accordion-title">Приглашены на голосование</a>
                            <ul>
                                <% vote.participants.forEach(function (idVoter) {
                                exportData.users.forEach(function (item) {
                                if (item.id === idVoter) {
                                %>
                                    <li><%= item.name %></li>
                                <% }
                                })
                                }) %>
                            </ul>
                        </div>
                        <div class="vote__accordion">
                            <a class="vote__accordion-title">Зарегистрированы на голосование</a>
                            <ul>
                                <% if (vote.activeParticipants.length == 0) { %>
                                    <li>Не найдено участников</li>
                                <% } %>
                                <% vote.activeParticipants.forEach(function (idVoter) {
                                exportData.users.forEach(function (item) {
                                if (item.id === idVoter) {
                                %>
                                    <li><%= item.name %></li>
                                <% }
                                })
                                }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <% } %>
            <% }) %>
        </div>


        <h2>Проверка бюллетеня</h2>
        <br>
        <form action="/lk/check">
            <input type="text" name="uniqueid" placeholder="Идентификатор" required>
            <br>
            <button type="submit">Проверить</button>
        </form>

    </div>
</div>


<% include layout/footer.ejs %>