<% include layout/head.ejs %>
<div class="container">
    <div class="row-fluid">
        <h2><%= title %></h2>
        <br>
        <br>

        <hr>
        <% totalVote.forEach(function (question) { %>
        <p class="bold"><%= question.title %></p>
        <% for (var key in question.total) {%>
            <p><span><%= key %>:</span> <%= question.total[key]%></p>
        <% } %>
            <hr>
        <%}) %>


    </div>
</div>
