<% include layout/head.ejs %>


<div class="container">
    <div class="row-fluid">
        <h1>Голосование</h1>
        <p class="js-uniqueid-message">Ваш уникальный идентификатор для проверки голосования – <span
                    class="bold"></span></p>
        <form action="">
            <div class="voting">
                <% exportData.vote.questions.forEach(function (value, index) { %>
                    <div class="voting__item">
                        <div class="voting__item-title"><%= value.title %></div>
                        <div class="voting__item-description"><%= value.description %></div>
                        <% if (value.type == 'checkbox') {
                        value.options.forEach(function (option) {
                        %>
                            <label>
                                <input type="checkbox" value="<%= option %>"> <%= option %>
                            </label>
                        <% }) %>
                        <% } else if (value.type == 'radio') {
                        value.options.forEach(function (option) {
                        %>
                            <label>
                                <input type="radio" name="<%= index %>" value="<%= option %>"> <%= option %>
                            </label>
                        <% }) %>
                        <% } else if (value.type == 'input') {%>
                            <input type="text" placeholder="Поле для ответа">
                        <% } else { %>
                            <textarea name="" id="" cols="30" rows="5" placeholder="Текстовое поле для ответа"></textarea>
                        <% } %>
                    </div>
                <% }); %>
            </div>
            <button class="js-send-vote">Отправить</button>
        </form>
    </div>
</div>

<script src="/cryptico-js/jsbn.js"></script>
<script src="/cryptico-js/random.js"></script>
<script src="/cryptico-js/hash.js"></script>
<script src="/cryptico-js/rsa.js"></script>
<script src="/cryptico-js/aes.js"></script>
<script src="/cryptico-js/api.js"></script>

<% include layout/footer.ejs %>