<script src="/javascripts/jquery.min.js"></script>

<script src="/javascripts/sha256.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/secure-random.js"></script>

<script src="/scripts/main.js"></script>
</div>
</body>
</html>