<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Favicon -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">-->
    <meta name="theme-color" content="#ffffff">

</head>
<body>

    <div class="body-wrap">